extends ../admin

block path
  - nav['menuAll'] = 'active'

block content
  h2.pagetitle 
    span All Menus
    a.btn.btn-default.btn-xs.pagetitleAction(href="/admin/menu/new", title="Add New Menu") Add New

  table.table.table-bordered.menutable
    thead
      tr
        th #
        th Name
        th Type
        th Edit
    tbody
      each menu, index in menus
        tr
          td= index
          td= menu[0]
          td
            if menu[1] == 'md'
              | Page
            else
              | Menu
          td
            div.btn-group.btn-group-xs
              a.btn.btn-default(href="/admin/menu/edit/#{menu[0]}/#{menu[1]}") Edit
              a.btn.btn-danger(href="/admin/menu/remove/#{menu[0]}/#{menu[1]}") Remove

block auxiliary

